<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<img alt="140x140" src="/assets/extra/krishna.jpg" class="img-thumbnail" />
		</div>
		<div class="col-md-4 column">
			 <%=  link_to "My Blog", posts_path  %>
		</div>
		<div class="col-md-4 column">
			<%=  link_to "Go to Status", "/#{session[:user]}/home/active"   %>
		</div>
	</div>
</div>